<div class="options">

    <ul>
        <li>
            [<a href="/">Home</a>]
        </li>
        <!-- #10: add links that go to `/register`, `/login`, `/logout` -->
        <!-- #22: If user is logged in, only show the logout link. Otherwise, show the register and login links -->
    </ul>

</div>
<br>