<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <div class="wrapper-main">
        <%- include("./partials/top-nav") %>
    </div>

    <div class="banner">
        <img src="images/kirby-eat.gif">
        <h2>WELCOME TO AARON'S MAGIC IMAGEBOARD!</h2>

    </div>
    <hr>

    <h4>Register a new user</h4>
    <!-- #11: Make a register form with action="/user/registerNewUser" -->


    <%- include("./partials/footer") %>
</body>
</html>